.album_container{
    padding:14px;
    border-bottom:1px solid green;
}

.album_container_header{
    display:flex;
    justify-content: space-between;
}

.album_title{
    color:#fff;
}

.album_button{
    color:green;
    font-size:20px;
    font-weight:600;
    background:black;
    border:none;
}

.album_button:hover{
    cursor:pointer;
}

.album_card_container{
    display:flex;
    width:100%;
    flex-wrap: wrap;
}

.tabs {
    background-color: black;
    color: #fff;
  }
  
  .indicator {
    background-color:green;
  }
